main {
	text-align: center;
	padding: 1em;
	margin: 0 auto;
	width: 100%;
}

h1 {
	color: #ff3e00;
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 100;
}

.peliculas{
	width: 49%;
	border: 1px solid black;
	float: left;
}
.superheroes{
	width: 49%;
	border: 1px solid black;
	float: left;
}
#t1{
	margin-left: 30%;
}

@media (min-width: 640px) {
	main {
		max-width: none;
	}
}
  
  
